@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    overflow-x: clip;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: clip;
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 0 10px;
}

input {
    color: var(--colors-text-default);
}

input:focus,
select:focus,
textarea:focus {
    outline-offset: 4px;
    border: none !important;
}

/* global css defiend */
:root {
    --border: 1px solid black;
    --submit-your-scan: #182886;

    --colors-text-default: #374151;
    --colors-background-bgGreen: #064E3B;
    --colors-border-basic: #D4D4D4;
    --color: #fff;
    /* font size */
    --p-16px: 1rem;
    --fontsize-56px: 3.5rem;
    --fontsize-40px: 2.5rem;
    --fontsize-36px: 2.25rem;
    --fontsize-32px: 2rem;
    --fontsize-20px: 1.25rem;
    --fontsize-24px: 1.5rem;
    --fontsize-18px: 1.125rem;
    --fontsize-16px: 1rem;
    --fontsize-14px: 0.875rem;

    /* font weight */

    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
}


h1 {
    max-width: 770px;
    color: var(--colors-text-default, #374151);
    font-family: Khula;
    font-size: var(--fontsize-40px);
    /* 40px */
    font-style: normal;
    font-weight: var(--font-weight-300);
    line-height: 168%;
}

h2 {
    font-size: var(--fontsize-32px);
    /* 32px */
    color: var(--colors-text-default, #374151);
    text-align: center;
    font-style: normal;
    font-weight: 300;
    line-height: 180%;
    /* 57.6px */
}

h3 {
    font-size: 1.5rem;
    /* 24px */

}

h4 {
    font-size: var(--fontsize-20px);
    /* 20px */
    color: var(--colors-text-default, #374151);

    /* subHeader */
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    /* 36px */
}

h5 {
    font-size: var(--fontsize-16px);
    /* 16px */
    color: var(--colors-text-default, #374151);
    /* body-text-bold */
    font-family: Khula;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    /* 28.8px */
}

h6 {
    font-size: var(--fontsize-14px);
    /* 14px */
    color: var(--colors-text-default, #374151);
    font-family: Khula;
    font-style: normal;
    font-weight: 400;
    line-height: 168%;
}

/* .visible {

    animation: visible 1s ease forwards;
}

@keyframes visible {
    0% {
        opacity: 0;
        transform: translateY(60px);
        transition: 0.8s;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transition: 0.8s;
    }
} */


main {
    width: 100%;
    height: auto;
    overflow: hidden;
    /* border: var(--border); */
}

body.active {
    overscroll-behavior-block: none;
}

/* ------------
start header---------- */
header {
    width: 100%;
    height: auto;
    color: var(--color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

header,
.header-items {
    /* border: var(--border); */
}

.nav-items ul li {
    color: var(--colors-text-default);
    font-family: Khula;
    font-size: var(--fontsize-16px);
    font-style: normal;
    font-weight: var(--font-weight-600);
    line-height: 2.563rem;

    font-weight: 600;

}

.nav-log svg {
    width: 125px;
    height: fit-content;
}

.scan-btn {
    background-color: var(--submit-your-scan);
    color: var(--color);
    text-align: center;
    font-family: Khula;
    font-size: var(--fontsize-16px);
    font-style: normal;
    font-weight: var(--font-weight-600);
    line-height: normal;
}


.slider-bar {
    display: none;
    background-color: #fff;
    z-index: 99;
    position: absolute;
    transition: all 0.4s ease-in;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: hidden;
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.4s ease-out;
}

.slider-bar.active {
    opacity: 1;
    transform: translateX(0);
    display: inline-block;
}

.mobile-nav {
    display: none;
}

.nav-btn svg:nth-child(2){
display: none;
    opacity: 0;

}
.nav-btn.active svg:nth-child(1){
display: none;
    opacity: 1;

}
.nav-btn.active svg:nth-child(2){
display: inline-block;
    opacity: 1;

}


/* ------------
start banner---------- */
.banner {
    width: 100%;
    height: 640px;
    background-image: url(./images/Mask\ group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 4.688rem 0 0 0;
    /* border: var(--border); */
    overflow: hidden;
}

.bannaer-contain {
    /* border: var(--border); */
    position: relative;
}

.banner-heading {
    max-width: 1160px;
}

.banner-text1 span {
    position: relative;
    display: inline-block;
    color: var(--colors-text-default, #374151);
    font-family: "Libre Baskerville";
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 168%;
}

.banner-text1 span:nth-child(1)::before {
    content: "";
    background-image: url('./images/Group\ 600.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-text1 span:nth-child(2)::before {
    content: "";
    background-image: url('./images/hightlight.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-heading p {
    color: var(--colors-text-default, #374151);
    text-align: center;
    font-family: Khula;
    font-size: var(--fontsize-18px);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: 180%;
    letter-spacing: 0.54px;
}

.figure {
    width: 100%;
    height: auto;
    /* position: absolute; */
}
.body-catagory-list-option{
    display: none;
}
.body-catagory-list-option.active{
    display: inline-flex;
}
/* -----------------
start body-decription ------------- */

.body-decription {
    z-index: 99;
    width: 100%;
    height: auto;
    background: var(--colors-background-bgDefaul, #FBF8F5);
    padding-bottom: 56px;
}

.batch {
    position: relative;
}

.coustomer-imges {
    width: 125px;

}

.our-coustomer {
    width: 512px;
    padding: 1rem 1.5rem;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid #D1D5DB;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
}

.our-coustomer-img img {
    width: 100%;
}

.logo h2 {
    color: var(--colors-text-default, #374151);
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
    line-height: 41.5px;
    /* 129.688% */
}

.heding h2 {
    font-family: Khula;

}

.bodys-contain {
    /* border: var(--border); */
    margin-top: 82px;
}

.body-catagory-list {
    /* border: var(--border); */
    max-width: 674px;
    border-bottom: 1px solid var(--colors-border-basic, #D4D4D4);
}

.catagory-list {
    padding: 1rem;
    text-align: center;
}

.body-catagory-list .catagory-list.active {
    border-bottom: 4px solid var(--colors-border-primary, #1E3A8A);
}


.brain-img {
    width: 452px;
    height: 579px;
    border-radius: var(--radius-radius-4, 4px);
    background: #000;
    background-image: url(./images/Ellipse\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-catagory-list-content {
    /* border: var(--border); */
    max-width: 430px;
    height: auto;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.body-catagory-list-option {
    /* border: var(--border); */
    width: calc(100% - 452px);
}

.body-catagory-list-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.body-catagory-list-header-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: none;
}

.offers {
    width: 1024px;
    border: 2px solid rgba(168, 179, 140, 0.40);
    background: #FCFEF7;
}

.offers-text {
    max-width: 575px;

}

.offers-button {
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--radius-radius-4, 4px);
    background: #374151;
}

.offers-button p {
    color: #FFF;
    text-align: center;

    font-family: Khula;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}




/* ------------------
all stepes section----------- */

.all-stepes {
    width: 100%;
    background-image: url(./images/Frame\ 619.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.all-stepes-inner {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.all-stepes-inner span {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #D9D9D9 66.19%, #182886 100%);
}

.all-stepes .offers-steps .middle-step {
    transform: translateY(100%);
    border-left: 1px dotted #fff;

}

.offer-section .offers {
    padding: 15px 15px 15px 15px;
    ;
}

.setpes-header {
    /* border: 1px solid white; */

}

.setpes-header h2:nth-child(1) {
    color: #FFF;
    font-family: "Libre Baskerville";
    font-weight: 400;
}

.setpes-header h2:nth-child(2) {
    color: #FFF;
    font-family: Khula;
}

.stepes-contain {
    padding: 0 20px 40px;
    position: relative;
}

.stepes-contain:before,
.stepes-contain:after {
    position: absolute;
    content: '';
    background-color: #fff;
    border-radius: 100%;
    z-index: 30;
}

.stepes-contain:before {
    width: 20px;
    height: 20px;
    left: -10px;
    bottom: -13px;
}

.stepes-contain:after {
    width: 12px;
    height: 12px;
    left: calc(50% - 6px);
    bottom: -9px;
}

.stepes-contain.middle-step:before {
    top: -8px;
    bottom: auto;
    z-index: 30;

}

.stepes-contain.middle-step:after {
    top: -4px;
    bottom: auto;
}

.stepes-contain.middle-step {
    padding: 40px 20px 0;
}

.stepes-contain.third-step {
    border-left: 1px dotted #fff;
}

.stepes-contain-header {
    gap: 0.75rem;

}

.stepes-contain-header h4 {
    color: #FFF;

}

.stepes-contain-text1 h5 {
    color: #FFF;
}

.stepes-box {
    padding: 0 10px 0 0;
    border-right: 1px dotted #fff;
}

.advance-mri {
    padding: 100px 0;
}

.btn-primiry {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 43px;
    background: #182886;
    box-shadow: 0px 4px 0px 0px rgba(14, 22, 69, 0.01);
    gap: 7px;
}

.btn-primiry h6 {
    color: #FFF;
    text-align: center;
    /* button-text */
    font-family: Khula;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-1 {
    display: flex;

}

.content-1 .img {
    /* width: 224px;
    width: 253px; */
}

.content-1 .img img {
    width: 100%;
    height: 100%;

}

.img-content {
    background: var(--colors-background-bgGreen, #064E3B);
    max-width: 370px;
    padding: 68px 27px 68px 27px;
}

.img-content2 {
    background: var(--colors-background-bgDefault, #FBF8F5);
    max-width: 370px;
    padding: 68px 27px 68px 27px;
}

.img-content-text h5 {
    color: #fff;
}

.img-content2 .img-content-text h5 {
    color: #fff;
}

.img-content-text h3 {
    color: #000;
    font-size: 26px;
}

.img-content3 {
    background: var(--colors-background-bgGreen, #064E3B);
    max-width: 478px;
    padding: 79px 45px 64px 30px;

}

.content-writer {
    width: 100%;
    background-color: #FBF8F5;
    display: flex;
    padding: 90px 0 90px 0;

}

.content-writer-inner h1 {
    max-width: 1157px;
    text-align: center;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    /* 64.8px */
}






.search-back-img img {
    filter: brightness(77%);
}

.search-content {
    max-width: 501px;
    padding: 0 0 0 42px;
    bottom: 25px;
}

.search-content-text h1 {
    color: var(--colors-text-white, #FAFAFA);
    font-family: Khula;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 127%;
    /* 71.12px */
}

.search-content-text h6 {
    color: var(--colors-text-white, #FAFAFA);
    font-size: 1rem;
}

.search-content-header * {
    color: #fff !important;
}

.search {
    max-width: 500px;
    width: 100%;
    border-radius: 45px;
    overflow: hidden;
    position: relative;
    height: 72px;
    background-color: #fff;
}

.search input {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 8px 24px;
    border-radius: 45px;
    justify-content: center;
    color: var(--colors-text-default) !important;
    align-items: center;
    gap: 10px;
}

.search button {
    display: flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #0947A6;
    color: #FFF;
    position: absolute;
    right: 20px;
}


/* footer section */
footer {
    background: var(--colors-background-bgDark, #262626);
    padding: 62px 0 0 0;

}

.footer-inner {
    /* border: 1px solid #fff; */
}

.footer-items {
    color: #FFF;
    font-family: Khula;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 28.8px */
}

.footer-condition {
    padding: 23px 0 15px 0;
    border-top: 1px dotted #fff;
    z-index: 99;
}

.footer-condition h6 {
    color: #fff;
    font-size: 0.875rem;

}


@media (max-width: 1440px) {
    .stepes-span {
        top: 61%;
    }
}

@media (max-width: 1279px) {
    .body-catagory-list-option {
        width: 100%;
    }

    /* .advance-mri-content,.advance-mri-img{
         max-width: 80%;
    } */
    .offers-steps {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .all-stepes .offers-steps .middle-step {
        transform: none;
    }

    .all-stepes .offers-steps .middle-step {
        padding: 0 20px 40px;
    }

    .all-stepes-inner span {
        width: 4px;
        height: 100%;
        background: linear-gradient(90deg, #D9D9D9 66.19%, #182886 100%);
        top: 0;
    }

    .stepes-contain:before {

        left: -9px;
        bottom: calc(50% - 13px);
    }

    .stepes-contain.middle-step:before {
        top: calc(50% - 13px);
        bottom: auto;
    }

    .stepes-contain:after {
        display: none;
    }

    .stepes-contain {
        max-width: 815px;
    }

    .offers-steps {
        margin-bottom: 0;
    }

    .stepes-span {
        left: 2px;
    }
}

@media (max-width: 1025px) {
    :root {

        /* font size */
        --p-16px: 1rem;
        --fontsize-56px: 3.5rem;
        --fontsize-40px: 2rem;
        --fontsize-36px: 2.25rem;
        --fontsize-32px: 2rem;
        --fontsize-20px: 1.25rem;
        --fontsize-24px: 1.5rem;
        --fontsize-18px: 1.125rem;
        --fontsize-16px: 1rem;
        --fontsize-14px: 0.875rem;
    }

    .advance-mri {
        padding: 50px 0;
    }

    .banner-heading {
        max-width: 856px;
    }

    /* .advance-mri {
        gap: 5rem;
    } */

    .stepes-span {
        display: none;
    }

    .stepes-contain:before {
        display: none;
    }

    .all-stepes .offers-steps .middle-step {
        border: none;
    }

    .stepes-contain.third-step {
        border: none;
    }
}

@media (max-width: 980px) {

    .body-catagory-list-content {
        max-width: 385px;
    }

    .offers-text {
        max-width: 477px;
    }

    h3 {
        font-size: 1.3rem;
    }

    :root {

        /* font size */
        --p-16px: 1rem;
        --fontsize-56px: 3.5rem;
        --fontsize-40px: 1.7rem;
        --fontsize-36px: 2.25rem;
        --fontsize-32px: 2rem;
        --fontsize-20px: 1.25rem;
        --fontsize-24px: 1.5rem;
        --fontsize-18px: 1.125rem;
        --fontsize-16px: 1rem;
        --fontsize-14px: 0.875rem;
    }

    .footer-inner {
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }
}

@media (max-width: 768px) {
    .header-items {
        display: none;
    }

    .mobile-nav {
        display: inline-block;
    }

    .body-catagory-list-option {
        gap: 2rem;
    }

    .body-catagory-list-content {
        max-width: 251px;
    }

    :root {
        /* font size */
        --fontsize-20px: 1.3rem;
    }

    .offers {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .img-content {
        max-width: 288px;
        padding: 44px 15px 44px 15px;
    }

    .img-content-text h5 {
        font-size: var(--fontsize-14px);
    }

    .img-content3 {
        max-width: 393px;
    }

    .footer-inner {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .body-catagory-list-option {
        width: 100%;
        justify-content: center;
    }

    .body-catagory-list-section {
        align-items: center;
    }
  

    .stepes-contain-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .offers-logo {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .our-coustomer {
        width: 500px;
        padding: 0.5rem 0.5rem;
    }

    .coustomer-imges {
        width: 110px;
    }
}

@media (max-width: 640px) {

    .stepes-contain-text1 h5 {
        font-size: var(--fontsize-14px);
    }

    .stepes-contain-header h4 {
        font-size: var(--fontsize-18px);
    }

    .mri-heading h4 {
        font-size: 1.5rem;
    }

    .brain-img {
        width: 452px;
        max-height: 488px;

    }

    .brain-img img {
        object-fit: cover;
    }

    .offers-logo {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .stepes-contain {
        max-width: 420px;
    }

    .stepes-contain {
        padding: 0px 39px 40px;
    }

    .all-stepes .offers-steps .middle-step {
        padding: 0px 39px 40px;
    }

    .content-1 {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    :root {

        --fontsize-40px: 1.3rem;
    }

    .banner-text1 span {
        font-size: 1.9rem;
    }

    .banner-heading p {
        font-size: var(--fontsize-16px);
    }

    .catagory-list {
        padding: 0.5rem;
    }

    .search-content-text h1 {
        font-size: 3rem;
    }

    .search input {
        display: flex;
        width: 412px;
        height: 55px;
    }

    .search button {
        display: flex;
        padding: 9px 19px;
        font-size: 0.875rem;
    }

    .search button svg {
        width: 18px;
    }

    footer span svg {
        width: 130px;
        height: fit-conte 15
    }

    .offers-text {
        max-width: fit-content;
    }
}

@media (max-width: 480px) {
    .mobile-nav .btn-primiry {
        display: none;
    }

    .logo-inner {
        width: 160px;
    }

    .body-catagory-list-content {
        max-width: 353px;
    }

    h5 {
        font-size: var(--fontsize-14px);
    }

    h2 {
        font-size: var(--fontsize-24px);
    }

    .btn-primiry {
        padding: 12px;
    }

    .btn-primiry h6 {
        font-size: 1rem;
    }

    .coustomer-imges {
        width: 100px;
    }

    .our-coustomer {
        width: 357px;
    }

    .search-content-text h1 {
        font-size: 1.7rem;
    }

    .search input {
        width: 256px;
        height: 33px;
    }

    .search button {
        padding: 2px 10px;
    }

    .footer-items {
        font-size: 0.875rem;
    }

    .search-content {
        bottom: 0;
    }

    .search-content-text h6 {
        font-size: 0.875rem;
    }
}

@media (max-width: 375px) {
    :root {

        /* font size */

        --fontsize-40px: 1.1rem;

    }

    .banner-text1 span {
        font-size: 1.4rem;
    }

    .our-coustomer {
        flex-direction: row;
    }

    .search {
            
            height: 45px;
        }
    }